.spacer-credit-card-pay{
  width: 100%;
  height: 20px;
  margin-top: 40px;
}
svg {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 5px;
}

.svg-visa-border {
  fill: #005098;
}

.svg-visa-letter {
  fill: #005098;
}

.svg-visa-corner {
  fill: #F6A500;
}

.svg-master-border {
  fill: #E30613;
}

.svg-master-circle1 {
  fill: #E40520;
}

.svg-master-circle2 {
  fill: #FAB31E;
}

.svg-master-letter {
  fill: #fff;
}

.svg-amex-border {
  fill: #0098D0;
}

.svg-amex-letter {
  fill: #0098D0;
}

.svg-paypal-border {
  fill: #1B557D;
}

.svg-paypal-letter1to3 {
  fill: #1B557D;
}

.svg-paypal-letter4to6 {
  fill: #107DB0;
}

.svg-click-border {
  fill: #FF8000;
}

.svg-click-logo {
  fill: #FF8000;
}

.svg-click-letter {
  fill: #FF8000;
}

.svg-click-letter-center {
  fill: #808080;
}

.svg-bitcoin-border {
  fill: #F7931A;
}

.svg-bitcoin-circle {
  fill: #F7931A;
}

.svg-bitcoin-logo {
  fill: #fff;
}

.svg-bitcoin-letter {
  fill: #4d4d4d;
}

.svg-sofort-line1 {
  fill: #ee7f00;
}

.svg-sofort-line2 {
  fill: #383a41;
}

.svg-sofort-fill {
  fill: #fff;
}

.svg-payu-letter {
  fill: #1c3e95;
}

.svg-payu-letter-last {
  fill: #00adef;
}

.svg-payu-fill {
  fill: #fff;
}

.svg-cash-hand {
  fill: #FFCA65;
}

.svg-cash-thumb {
  stroke: #FBAD3E;
  fill: none;
}

.svg-cash-money {
  fill: #34b154;
}

.svg-cash-money-inner {
  fill: #fff;
  opacity: .4;
}

.svg-cash-shirt-inner {
  fill: #def;
}

.svg-cash-shirt-outer {
  fill: #07b;
}

.svg-debit-card {
  fill: #e5e5e5;
}

.svg-debit-data {
  fill: #bbb;
}

.svg-debit-sign {
  fill: #fff;
}

.svg-debit-read {
  fill: #555;
}
