/*Import Fonts*/
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@font-face {
  font-family: ComicNeue-Light;
  src: url(../fonts/ComicNeue-Light.woff);
}


html,
body{
  margin: 0;
}
.header{
  width: 100%;
  height: 50px;
  /*background: #54d4bd;*/
  /*background: #5487d4;*/
  /*background: #26bcff;*/
  /*background: #6CD464;*/
  background: #FFFFFF;
}
.header > #logo{
  float: left;
  width: 140px;
  font-size: 30px;
  padding-left: 7px;
  padding-top: 4px;
  font-family: 'Poiret One', cursive;
}
.header > #logo a{
  text-decoration: none;
  color: black;
}
.header > #searchBar{
  margin-left: 160px;
  width: 400px;
  height: 100%;
  padding-top: 10px;
}
.header > #searchBar input[type=search]{
  width: 300px;
  height: 30px;
  font-family: ComicNeue-Light;
}
.header > #cartButton{
  width: 100px;
  float: right;
  margin-right: 15px;
  margin-top: -50px;
}
.header > #loginStatus{
  font-family: ComicNeue-Light;
  font-size: 15px;
  float: right;
  margin-right: 128px;
  margin-top: -50px;
}
.header > #loginStatus > #spacer1{
  height: 15px;
}


.wrapper{
  width: 90%;
  /*height: 93vh;*/
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.wrapper > .loginForm{
  text-align: center;
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.wrapper > .loginForm  form{
  text-align: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}



/*Cart*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#54d4bd;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

/*Admin Panel*/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; height: 80vh;}
.products-table{
  width: 100%;
  height: 100%;
}
.products-table > table{
  width: 100%;
  height: 100%;
}

#product-title{
  font-size: 15px;
}
#product-price{
  font-size: 20px;
}

.highlight-tickets{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  padding-top: 50px;
}

.highlight-tickets > .items {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 40px;
  text-align: center;
  width: 100%;;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.highlight-tickets > .items li {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  width: 20vh;
  height: 10vh;
  background-color: black;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  overflow: hidden;
  cursor: pointer;
}
.highlight-tickets > .items li .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}
.highlight-tickets > .items li:hover {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  width: 400px;
  height: 250px;
}
.highlight-tickets > .items li:hover a .content {
  -webkit-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
  opacity: 1;
}
.highlight-tickets > .items li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.highlight-tickets > .items li a .content {
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateY(100%) translateX(-50%);
          transform: translateY(100%) translateX(-50%);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
  padding: 40px 10px 10px 10px;
  width: 400px;
}
.highlight-tickets > .items li a .content h2 {
  font-weight: 300;
  color: white;
  font-size: 30px;
}

.introScreen{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  padding-top: 1px;
  padding-bottom: 50px;
}
.order-container{
  margin: 10px;
  text-align: right;
}

#credit{
  width: 100%;
  height: 15px;
  padding-top: 20px;
  margin-bottom: 5px;
  background: #FFFFFF;
  text-align: center;
}

.sidebar {
  list-style-type:none;
  /*background-color:#333;*/
  /*background-color:#5487d4;*/
  /*background-color: #EDEDED;*/
  background-color: #FFFFFF;
  width:230px;
  height:auto;
  top:50px;
  bottom:0;
  left:0;
  text-align:left;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
}

.sidebar a {
  text-decoration:none;
  color:black;
  transition:1s ease;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition:0.5s ease;
}

.sidebar li:hover {
  background-color:#777;
  cursor:pointer;
  text-indent: 30px;
}

.sidebar > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}

.right-admin-side{
  padding: 15px;
  margin-left: 165px;
  margin-top: -20px;
  /*border-top: 2px solid #777;
  border-right: 2px solid #777;
  border-bottom: 2px solid #777;*/
  position: relative;
  width: 77vw;
  height: auto;
}
.searchIdForm{
  margin: 10px;
}
